.quotes{
    position: absolute;
    top:0;
    right:0; 
    display: grid;
    margin-top:10%;
    grid-template-columns: .5fr minmax(300px, 1fr) .5fr;
    grid-template-rows: 1fr 1fr 1fr;  
}
.quote{
    width:100%;
    height:max-content;
    font-size: 35px;
    font-family: Times New Roman;
    grid-column: 2/3;
    opacity:0;
    margin-bottom:45%;
    transition: opacity .5s ease-out;
    z-index:-1;
}
.quote.appear{
    opacity:1;
}
.nick img{
    position: fixed;
    bottom: 0;
    left:0;
    width:400px;
    opacity: 0;
    transition: opacity .4s ease-in;
}
.nick img.appear{
    opacity:1;
}
footer{
    position:fixed;
    left:0;
    bottom:-1%;
    margin:0 !important;
    padding:0 !important;
    z-index: -1;
}
footer img{
    width:100%;
    margin:0;
    margin-left:0;
    transform-origin: bottom;
    opacity:0;
    transform: scale(1,0);
    transition: transform .8s ease-out;
}
footer img.appear{
    opacity:1;
    transform: scale(1,1);
}
 

@media screen and (max-width:600px){
    
    .quotes{
        position: absolute;
        top:10%;
    }
    .quote{
        margin-bottom: 100%;
    }
    .nick img{
        width:50%;   
    }
}
 