header{
    margin:0;
    padding:0;
    position:fixed !important;
    left:0;
    top:0;
    z-index: 2;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.25);
    width:100%;
    
    background: black;
    font-style: arial;
    padding:5px;
    color: grey;
}
.logo{
    margin:0;
    margin-left:10%;
    padding: 0;
    font-size:35px;
    cursor: pointer;
}   
nav{
    z-index:-1;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:10px;
    border-radius: 0 0 100% 20%/ 0 0 100% 10%;
    text-align: left;
    background: black;
    transform-origin: top;
    transform: scale(1,0);
    transition: transform 250ms ease-in-out ;
}
nav::before{
    position:absolute;
    left:0;
    content:'';
    width:100%;
    height:200px;
    background: black;
    
    border-radius: 0 0 100% 20%/ 0 0 100% 10% !important;
    transform: translateY(-25%) translateX(-1%);
}
.nav-toggle{
    display: none;
}
.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
}

nav ul{
    position:absolute;
    list-style: none;
}
nav li{
   
    margin-bottom:10px;
}
nav li a{
    text-decoration: none;
    color:  grey;
    font-size: 25px;
    font-style: arial;
   
    opacity:0;
    transition: opacity 250ms ease-in-out 250ms;
}
 

.nav-toggle-label{
    position:absolute;
    top:0;
    left:1%;
    height:100%;
    display:flex;
    align-items: center;
    
}
.nav-toggle-label span{
    position:relative;
    height:.2em;
    width:30px;
    background: white;
  
}
.nav-toggle-label span::after{
    content:'';
    display: block;
    position: absolute;
    bottom:8px;
    height:.2em;
    width:30px;
    background: white;
   
}
.nav-toggle-label span::before{
    content:'';
    display: block;
    height:.2em;
    width:30px;
    background: white;
    position: absolute;
    top:8px;
}
.active{
    font-weight: bold !important;
    color: white;
    
}
@media screen and (min-width:800px)
{
    .nav-toggle-label{
        display: none;
        
    }
    header{
        display:grid;
        height:60px;
        grid-template-columns: 1fr auto minmax(650px, 3fr) 1fr;
    }
    .logo{
        margin:0;
        padding: 0;
        grid-column:2/3;
        transform: translateY(20%);
         
    }
    nav::before{
        display: none;
    }
    nav{
        all: unset;
        grid-column: 3/4;
        display: flex;
        height:100%;  
    }
    
    nav ul{  
        display: flex; 
        align-items: center;
        padding:0;
        margin-left:20%;
    }
     
    nav li{ 
        position: relative;
        margin-left:40%;
    }
    nav a{
        opacity:1 !important;
    }
    nav a::after{
        position:absolute;
        bottom:-10px;
        content: '';
        display: block;
        width:100%;
        height:3px;
        background: white;
        transform:scale(0,1) ;
        transform-origin: center;
        transition: all ease-in-out 250ms;
    }
    nav a:hover::after{
        transform:scale(1,1) ;
    }    
}

/* scroll bar design */
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    background:grey;
    border-radius: 25px;
}